.dashboard{

    max-width:1300px;

    margin:auto;

    padding:40px 25px;

}

.dashboard-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:30px;

    margin-top:30px;

}

@media(max-width:900px){

.dashboard-grid{

grid-template-columns:1fr;

}

}